body{
  padding: 10px;
}
.my-div {
  margin: 5px;
  padding: 5px;
  border: 5px solid black;
}

.valid-age {
  border-color: green;
}

.invalid-age {
  border-color: red;
}

.red {
  color: red;
}

.yellow {
  color: rgb(209, 209, 15);
}

.green {
  color: green;
}

.amazon-btn{
    align-items: center;
    background: #fff;
    border: 1px solid #888c8c;
    border-radius: .5rem;
    color: var(--color-base-text);
    display: inline-flex;
    flex: 0 0 auto;
    font-size: 1rem;
    height: 3rem;
    justify-content: center;
    line-height: 1.25rem;
    margin: 0 .1875rem;
    padding: 0 .75rem;
    white-space: nowrap;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.btn-yellow{
  background-color: rgb(145, 141, 23);
}

.btn-orange{
  background-color: orangered;
}

.error{
  border: 1px solid red;
  outline: none;
}

.todo-item{
  justify-content: space-between;
  display: flex;
}